<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% if is_logged %}
				{% block title %}Welcome!
				{% endblock %}
			{% else %}
				You Are not Logged in!
			{% endif %}
		</title>
		{% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>

		<div id="header">
			{% if is_logged %}
				<form action="{{ path('delete_session') }}" method="post" class="delete-session-form">
					<button type="submit" class="btn btn-danger">Delete Session</button>
				</form>
			{% else %}
			 <a href="{{ path('app_logIn') }}" class="btn btn-danger lighter">Log In</a>
			 <a href="{{ path('app_signUp') }}" class="btn btn-danger lighter">Sign Up</a>
			{% endif %}
		</div>


		{% block body %}
			<div id="center">
				{% block center %}
					{% if is_logged %}
						<h2>Welcome To Main Page</h2>
					{% else %}
						<h2>You'r not logged in!</h2>
					{% endif %}
				{% endblock center %}
			</div>
		{% endblock body %}
	</body>
</html>
