<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        
        {% block body %}
        <div id="center">
        {% block center %}
        {%if isLogged%}
        <h2>Welcome To Main Page</h2>
        {%else %}
        <h2>You'r not logged in!</h2>
        {% endif %}
        {% endblock center %}
        </div>
        {% endblock %}
    </body>
</html>
