{% extends 'base.html.twig' %}
{% block title %}Log In{% endblock %}

{% block body %}
{% block center %}
<div class="example-wrapper">
{% block formBody %}{% endblock formBody %}
{{ include('user/login_form.html.twig') }}
</div>
{% endblock center %}

{% endblock %}
