{% extends 'base.html.twig' %}

{% block title %}Sign In{% endblock %}

{% block body %}
{% block center %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}!</h1>
</div>
{% endblock center %}

{% endblock %}
